a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;

  &:hover {
    color: $a-hover-color;
  }
}

a:focus, button:focus, input:focus, select:focus, select:focus, span:focus {
  box-shadow: $focus-shadow 0 0 8px;
}

.w3-hover-theme:hover {
  color: $text-light !important;
  background: $theme-color !important;
}

.w3-theme-dark {
  color: $text-light !important;
  background: $dark-background !important;
}

.w3-theme-l1 {
  color: $text-light !important;
  background: $light-background !important;
}

.circle-button {
  font-size: 1.5em;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  margin: 0 7px;
  padding: .5em;
  cursor: pointer;
  color: $text-light;
  border-width: 0;
  border-radius: 50%;
  background: $button1-background;

  &:hover, &:focus {
    color: $text-light;
    background: $button1-hover;
  }
}

select {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  display: block;
  width: 100%;
  padding: 4px 8px;
  color: $text-dark;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: #fcfcfc;
  background-clip: padding-box;
}
