:root {
  --medium-breakpoint: #{$medium-breakpoint};
  --small-breakpoint: #{$small-breakpoint};
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;

  &.breadcrumb {
    display: inline-block;
    margin: 5px;
    color: $theme-color;
    border-bottom: 1px dotted grey;
  }

  &:hover {
    color: $a-hover-color;
  }
}

a:focus, button:focus, input:focus, select:focus, select:focus, span:focus, [contenteditable]:focus, .vue-tags-input.ti-focus .ti-input {
  transition: box-shadow 50ms ease-in-out;
  outline: none;
  box-shadow: $focus-shadow 0 0 0 3px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: roboto slab, serif;
  font-weight: 400;
}

.w3-hover-theme:hover {
  color: $text-light !important;
  background: $theme-color !important;
}

.w3-theme-dark {
  color: $text-light !important;
  background: $dark-background !important;
}

.w3-theme-l1 {
  color: $text-light !important;
  background: $light-background !important;
}

.circle-button {
  font-size: 1.5em;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  margin: 0 7px;
  padding: .5em;
  cursor: pointer;
  color: $text-light;
  border-width: 0;
  border-radius: 50%;
  background: $button1-background;

  &:hover, &:focus {
    color: $text-light;
    background: $button1-hover;
  }
}

select,
input[type="text"],
input[type="search"],
input[type="number"],
input[type="password"],
input[type="url"],
input[type="date"],
input[type="email"],
.vue-tags-input .ti-input {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  display: block;
  width: 100%;
  min-height: calc(1.5rem + 8px + 2px);
  padding: 4px 8px;
  color: $text-dark;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: $entry-background;
  background-clip: padding-box;
}

.vue-tags-input {
  max-width: 100% !important;

  .ti-new-tag-input-wrapper {
    margin: 0 !important;
  }

  .ti-new-tag-input {
    min-height: auto;

    &:focus {
      box-shadow: none;
    }
  }

  .ti-tag {
    margin: 1px !important;
    background: $theme-color !important;
  }

  .ti-new-tag-input.ti-invalid {
    color: $error-color;
  }
}
