@import '_commonUtils.scss';
@import '_playerStyle.scss';
@import '_cascadingEditorStyle.scss';

body {
  max-width: $max-body-width !important;
  // background: #eeeeee url('../img/cosmere_background2.png') repeat scroll center top;
  background-color: $body-background;
  font-size: $base-font-size;
  font-family: 'Roboto',sans-serif;
  > header {
    font-size: $h2-font-size;
  }
}


h1 {font-size: $h1-font-size;}
h2 {font-size: $h2-font-size;}
h3 {font-size: $h3-font-size;}
h4 {font-size: $h4-font-size;}
h5 {font-size: $h5-font-size;}
h6 {font-size: $h6-font-size;}

a {
  text-decoration: none;
  cursor: pointer;
}

a.navlink {
  color: $theme-color;
  border-bottom: 1px dotted grey;
  margin: 5px;
  display: inline-block;

}

a:focus, button:focus, input:focus, select:focus, select:focus, span:focus {
  box-shadow: $focus-shadow 0 0 8px;
}

#mobile-header {
  font-size: $base-font-size * 2;
  background-color: $navbar-background;
  color: $text-light;
  form {
    padding-bottom: 3px;
    font-size: $base-font-size;
    width: 100%;
    table {
      width: 100%;
      td:nth-child(2) {
        width: 1px;
      }
      input {
        width: 100%;
      }
    }
  }
}

table {
  th {
    vertical-align: middle !important;
  }
}

#mobile-spacer {
  height: 40px;
}

#sidenav {
    font-size: $h2-font-size;
    background-color: $navbar-background;
    color: $text-light;
}

main {
  article {
    h3 {
      width: 90%;
    }
  }
}

.options {
  background: none!important;
  color: #000;
}

.box {
  padding: 5px;
  margin: 5px;
  display: block;
  border: 1px solid black;
}

.success-box {
  @extend .box;
  background-color: $lightgreen-background;
  border-color: darkgreen;
  color: green;
}

.error-box {
  @extend .box;
  background-color: lightcoral;
  border-color: crimson;
  color: darkred;
}

.warning-box {
  @extend .box;
  background-color: sandybrown;
  border-color: saddlebrown;
  color: saddlebrown;
}

.info-box {
  @extend .box;
  background-color: lightskyblue;
  border-color: darkblue;
  color: darkblue;
}

table {
  caption, thead th {
    background-color: $theme-color;
    color: $text-light;
  }
  td {
    vertical-align: middle !important;
  }
  .narrow-col{
    width: 50px;
    text-align: center;
  }
}

.input-table {
  margin-top: 10px;
  margin-bottom: 10px;
  //border: 1px solid #ccc;
  th {
    text-align: right;
    position: relative;
    width: 20%;
  }
  td {
    text-align: left;
    position: relative;
    &[colspan="2"] {
      text-align: right;
    }
  }
  tr:not(:last-of-type) td, tr:not(:last-of-type) th {
    border-bottom: 1px dotted #dddddd;
    vertical-align: middle;
  }
  input:not([type="submit"]):not([type="checkbox"]),
  select,
  textarea {
    padding: 2px;
    width: 100%;
  }
  ul.errorlist {
    color: red;
    padding-left: 0;
    text-align: justify;
    li {
      list-style: none;
    }
  }
  span.helptext {
    color: darkgrey;
    font-size: 0.9em;
  }
}

.narrow-table {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 992px) {
  #search-box {
    margin-top: 50px !important;
  }
  .narrow-table {
    width: 100%;
  }
}

.audio-player {
  padding: 1em;
  display: block;
  width: 100%;
  audio {
    width: 100%;
  }
}

.mini-player {
  margin-top: 10px;
  display: inline-block;
  button, span {
    font-size: 1.5em;
    display: inline-block;
    padding: 0.5em;
    border-width: 0;
    border-radius: 50%;
    width: 2em;
    margin: 0 7px;
    cursor: pointer;
  }
}

a.url-icon {
  display: inline-block;
  font-size: 15px;
  padding: 0.5em;
  border-width: 0;
  border-radius: 50%;
  width: 2.5em;
  text-align: center;
  margin: 0 7px;
  cursor: pointer;
}

@keyframes soft-blinking {
  0% {opacity: 0}
  100% {opacity: 1}
}

.soft-blinking {
  animation-name: soft-blinking;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.hidden-element {
  background-color: $hidden-entry-background !important;
}


#entries {
  .entry-anchor {
    position: relative;
    top: -50px;
    visibility: hidden;
    display: block;

    &:target + .entry-article {
      box-shadow: $theme-color 0 0 10px inset !important;
    }
  }
}

#eventArticle {
  max-width: 100%;
}

.entry-article {
  position: relative;
  min-height: 54px;
  margin: 0 0 10px 0;
  background-color: $entry-background;
  &.entry-suggestion {
    background-color: $suggestion-entry-background;
  }
  .urls, .reporter {
    text-align: right;
    a {
      display: inline-block;
      vertical-align: bottom;
      text-overflow: ellipsis;
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      color: $theme-color;

      span {
        border-bottom: 1px dotted grey;
      }
    }
  }
  header {
    width: 100%;
    text-align: right;
  }
  footer {
    padding: 4px;
    width: 100%;
  }
  .entry-content {
    text-align: left;
    padding: 0 10px 0px 10px;
    clear: left;
    word-break: break-word;
    h4 {
      font-weight: bold;
    }
    .review-state-marker {
      font-size: 0.6em;
      vertical-align: super;
    }
  }
  /* (irrelevant now) .entry-number {
    display: inline-block;
    min-width: 50px;
    height: 50px;
    line-height: 45px;
    font-size: 45px;
    text-align: center;
    border: 1px solid $background-color;
    float: right;
  } */
  .snippets, .image-sources {
    padding: 0;
    width: 50px;
    clear: right;
    float: right;
    // margin-top: 3px;
    margin-right: 3px;
    div {
      display: block;
    }
  }
}

.entry-content a, .footnote a {
    color: $theme-color;
}

.entry-article {
    border: 1px solid rgba(0,76,110,.5)!important;
    box-shadow: 0 1px 0 rgba(0,76,110,.2)!important;
}

.entry-history {
  form {
    display: inline-block;
  }
}

.url-sources-edit-table {
  width: 100%;
  input {
    width: 100%;
  }
  button {
    width: 100%;
  }
  .url-sources-edit-table-row-template {
    display: none;
  }
  td, th {
    // Don't optimize or it won't work!
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
    text-align: center;
  }
  td.visibility-status {
    width:1%;
    white-space:nowrap;
    > span {
      width: 100%;
    }
  }
}

a.visibility-switch {
  > span {
    display: none;
  }
  &.show .show_text,
  &.hide .hide_text {
    display: inherit;
  }
  &.show {
    // background-color: silver;
  }
  &.hide {
    // background-color: darkgreen;
  }
}

.adv-search-table {
  width: 100%;
  td {
    width: 80%;
  }
  input, select {
    width: 100%;
    &[type='date'] {
      width: 80%;
    }
  }
}

.date-filter-table {
  border-collapse: collapse;
  tr, th, td {
    background-color: transparent !important;
  }
  tr:last-of-type {
    border: none;
  }
  th {
    text-align: right;
  }
  td {
    text-align: left;
  }
}

.tag {
  display: inline-block;
  margin: 2px;
  padding-top: 2px;
  font-size: 11px;
  background-color: #898888!important;
  color: $text-light!important;
}

.paraphrased-marker {
  color: #aaa;
  font-size: 0.6em;
  vertical-align: super;
}

.w3-card, .w3-card-2 {
  box-shadow: none;
}

.tags-list {
  display: inline-block;
}

h1, h2, h4, h5, h6 {
    font-family: 'Roboto Slab',serif;
    font-weight: 400;
    margin: 10px 0;
}

h3 {
    font-weight: 400;
    margin: 10px 0;
}


.w3-border {
  border-radius: 3px;
}

.grey {
  background-color: #676767;
  color: #fff;
}

.page-title {
  margin-top: .1em;
}


#desktop-header{
  font-size:21px;
  background-color: $navbar-background;
  color: $text-light;
  width: 100%;
  max-width: $max-body-width;
  height:158px;
  #svg-logo {
    height: 150px;
  }
}

#maincontent {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: $navbar-background;
  background-color: $content-background;
}

.padTop {
  padding-top: 8px;
}

.padBottom {
  padding-bottom: 8px;
}

.eventDetails {
  padding-left: 16px;
  @extend .padTop, .padBottom;
  .event-review-state {
    font-size: 0.9em;
    &.pending {
      background-color: $lightred-background;
    }
    &.reviewed{
      background-color: $lightgreen-background
    }
  }
}

@media (max-width:601px) {
  .eventDetails {
      padding-left: 0px;
    }
}

.navbar {
  background-color: $navbar-background;
  color: $text-light;
}

.content-header {
  background-color: $header-color;
  color: $text-light;
  form, .pagination, .rss-link {
    float: right;
    margin-top: 10px;
    line-height: 36px;
  }

 .rss-link {
   margin-left: 10px;
   font-size: 1.5em;
 }
}


.event {
  background-color: $entry-background;
  color: $text-dark;
}

.block {
  @extend .event;
}

.list-number {
    background-color: $number-background;
    color: $text-light;
}

a:hover, .urls a:hover {
    color: $a-hover-color;
}

.button1 {
    background-color: $button1-background;
    color: $text-light;
}

.button1:hover {
    background-color: $button1-hover;
    color: $text-light;
}

.button1-accent {
    background-color: $button1-hover;
    color: $text-light;
}

.audiocontrol {
    @extend .button1;
}

.button2 {
  background-color: $button2-background;
  color: $text-light;
}

.button2:hover {
  background-color: $button2-hover;
  color: $text-light;
}

.button1:hover a, .button2 a:hover {
    color: $text-light;
}

.w3-btn:hover {
    box-shadow: none!important; //disables w3 css terrible box shadows on buttons
}

.edit-color {
  background-color: $edit-color;
  color: $text-light;
}

.topbar {
    width: 700px;
    overflow: hidden;
}

#desktop-header-small {
    font-size:19px;
    background-color: $navbar-background;
    color: $text-light;
    width: 100%;
    max-width: $max-body-width - 2px;
    //visibility: hidden;
    display: none;
    top: 0;
    position: fixed;
    z-index: 10;
}

@font-face {
    font-family: "Optimus Princeps";
    src: url('../fonts/OptimusPrinceps.ttf') format("truetype");
}

@font-face {
    font-family: "Optimus Princeps Semi Bold";
    src: url('../fonts/OptimusPrincepsSemiBold.ttf') format("truetype");
}

.logo {
  font-family: 'Roboto Slab', serif;
  padding-top: 3px;
}

.logobold {
  font-family: "Optimus Princeps Semi Bold", Arial !important;
  font-size: 21px;
}

.mobilelogo {
  font-family: "Optimus Princeps Semi Bold", Arial;
  font-size: 26px;
}

#userMenu, #menuSmall {
    z-index: 1;
    right: 0;
}

/*.mainlogo, .afterlogo {
    display: inline-block;
} */

.mainlogo {
    width: 370px;
    margin-left: 2.5%;
}

.afterlogo {
    width: 500px;
    float: right;
    margin-right: 2.5%;
}

#search-box-small {
  font-size: 13px;
  display: inline-block;
  float: right;
  margin-top: 3px;
}
#search-box {
  font-size: 13px;
  display: inline-block;
  float: right;
  margin-top: 15px;
}


.navButtonHolder {
    padding-top: 8px;
}

.w3-hover-theme:hover {
    background: $theme-color!important;
    color: $text-light!important;
}

.w3-theme-dark {
    background: $dark-background!important;
    color: $text-light!important;
}

.w3-theme-l1 {
    background: $light-background!important;
    color: $text-light!important;
}

.w3-bar .w3-bar-item {
  font-family: 'Roboto Slab', serif;
}

.optionelement {
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}

.faded {
    opacity: .6;
}

p {
    display: block;
    margin-top: .7em;
    margin-bottom: .7em;
    margin-left: 0px;
    margin-right: 0px;
}

.entry-speaker {
    margin: 0px;
}

.entry-options {
    margin-top: 5px;
    margin-bottom: 4px;
}

.footnote {
    padding: 0 5px 0 5px;
}

.login {
    display: block;
    position: relative;
    left: 175px;
    width: 216px;
    font-size: 16px;
}

.hidden {
    visibility: hidden;
}

#free-space-indicator {
  width: 100%;
  meter {
    display: block;
    width: 100%;
  }
}

.sortable-placeholder {
  background-color: $theme-color;
  height: 100px;
}

.ui-sortable-handle{
  cursor: move;
}

.clearfix {
  clear: both;
}



a.related-site {
  display: flex;
  align-items: center;
}

img.tiny-photo {
  width: 34px;
  height: 34px;
  margin-right: 4px;
}

ins {
  background-color: lightgreen;
}

del {
  background-color: lightcoral;
}

.navigation-bar {
  overflow: visible;
  .w3-dropdown-click {
    position: relative !important;
    span {
      position: relative;
    }
  }
  .w3-dropdown-content {
    min-width: 200px;
  }
}

.notification-badge {
  border-radius: 50%;
  font-size: 10px;
  width: 16px;
  height: 16px;
  position: absolute !important;
  line-height: 16px;
  bottom: -8px;
  right: -8px;
}

.admin-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.admin-button {
  span {
    display: block;
  }
  .fa {
    font-size: 100px;
  }
  @extend .w3-theme-l4;
  a:hover {
    color: $theme-color;
  }
  display: inline-block;
  border: 1px solid $theme-color;
  border-radius: 10px;
  width: 160px;
  height: 140px;
  padding: 10px;
  text-align: center;
}

.collections-list {
  .privacy-icon {
    font-size: 2em;
    text-align: center;
  }
}


.ui-widget-header {
  background: white !important;
  color: black !important;
  border-width: 0 !important;
}

#collections-dialog {
  #collections-scroll-list {
    display: block;
    min-width: 150px;
    min-height: 300px;
    max-height: 300px;
    overflow-y: auto;
    padding: 2px;
    width: 100%;
    height: 100%;
    input {
      margin: 5px;
    }
    .collection-elem{
      padding: 3px;
      border-bottom: 1px solid whitesmoke;
      .collection-elem-symbol {
        float: right;
        line-height: 38px;
      }
    }
  }
  button {
    width: 100%;
  }
  #add-collection-input {
    width: 100%;
    input {
      width: 83%;
      border: 1px solid #a0a0a0;
      height: 38px;
    }
    button {
      width: 15%;
    }
  }
  display: none;
  border-top: 1px solid whitesmoke;
}

.ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	font-family: 'Roboto', sans-serif;
}

.no-overflow {
	word-break: break-word;
}

.todo-header {
  padding-left: 10px;
  border-left: 10px solid $header-color;
}

p.todo-item {
  margin-left: 1em;
  a {
    border-bottom: 1px solid grey;
  }
}

// Override Fancybox's body right margin to prevent the whole page from shifting to the right
body.compensate-for-scrollbar {
  margin-right: auto !important;
}
