Django<3
django-extensions>=2.1.4
pytz>=2018.5
celery>=4.2.1
Werkzeug>=0.14.1
bleach>=3.0.2
psycopg2-binary>=2.7.6
django-redis-cache>=1.8.1
Pillow>=5.3.0
sorl-thumbnail>=12.5
raven>=6.9.0
django-debug-toolbar>=1.11
requests>=2.20
requests-toolbelt>=0.8.0
lxml>=4.2.5
djangorestframework>=3.9
markdown>=3.0.1
django-filter>=2.0.0
factory_boy>=2.11.0
django-cors-headers>=2.4.0