{% if item.single_link %}
<a class="w3-mobile w3-bar-item w3-hover-theme w3-button w3-ripple w3-block w3-left-align" href="{{ item.url }}">
	<span class="fa fa-{{ item.icon_class }}" aria-hidden="true"></span> {{ item.label }}
</a>
{% else %}
<div class="w3-mobile w3-dropdown-click w3-block">
	<button class="w3-mobile w3-bar-item w3-hover-theme w3-button w3-ripple w3-block w3-left-align">
		<span class="fa fa-{{ item.icon_class }}" aria-hidden="true"></span>
		{{ item.label }}
	</button>
	<div class="w3-dropdown-content w3-bar-block w3-border">
		{% for link in item.links.all %}
		<a class="w3-mobile w3-bar-item w3-hover-theme w3-button w3-ripple w3-block w3-left-align w3-block" href="{{ link.url }}">
			{{ link.label }}
		</a>
    	{% endfor %}
	</div>
</div>
{% endif %}
