{% load i18n %}
<div class="w3-dropdown-click w3-tag w3-blue playback-speed-container" id-ref="{{ id|default:"audio" }}">
  {% trans 'Playback Speed' %} <i class="fa fa-caret-down"></i>
  <div class="w3-dropdown-content w3-bar-block w3-card-4">
    <div speed="0.25" class="w3-bar-item w3-button playback-speed">0.25x</div>
    <div speed="0.5" class="w3-bar-item w3-button playback-speed">0.5x</div>
    <div speed="0.75" class="w3-bar-item w3-button playback-speed">0.75x</div>
    <div speed="1.0" class="w3-bar-item w3-button playback-speed">1x</div>
    <div speed="1.25" class="w3-bar-item w3-button playback-speed">1.25x</div>
    <div speed="1.5" class="w3-bar-item w3-button playback-speed">1.5x</div>
    <div speed="2.0" class="w3-bar-item w3-button playback-speed">2x</div>
  </div>
</div>
