{% load static %}
{% load i18n %}
{#{% load compress %}#}
{% load raven %}
{% load render_bundle from webpack_loader %}
{% load vue_spaceless %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>{% block page-title %}{{ PAGE_TITLE }}{% endblock %}</title>
    <link rel="apple-touch-icon" href="{{ FAVICON120 }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ FAVICON180 }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ FAVICON152 }}">
    <link rel="apple-touch-icon" sizes="167x167" href="{{ FAVICON167 }}">
    <link rel="icon" type="image/png" href="{{ FAVICON96 }}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ FAVICON16 }}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ FAVICON32 }}" sizes="32x32">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#003A52">

    <meta property="og:image" content="{{ BASE_URL }}{{ FAVICON200 }}">
    <meta property="og:image:width" content="200">
    <meta property="og:image:height" content="200">
    {% block extra-meta %}
    {% endblock %}

    <script src="https://use.fontawesome.com/c06c219215.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
{#    <script src="https://cdn.ravenjs.com/3.20.0/raven.min.js" crossorigin="anonymous"></script>#}
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey={{ TINYMCE_API_KEY }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard-polyfill/2.4.1/clipboard-polyfill.js"></script>
{#    <script type="text/javascript">Raven.config('{% sentry_public_dsn 'https' %}').install()</script>#}

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">

    {% if GOOGLE_ID %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ID }}"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', '{{ GOOGLE_ID }}');
        </script>
    {% endif %}

    <script src="{% url 'jsi18n' %}"></script>

    {% block extra-js-no-compress %}
    {% endblock %}
{#    {% compress js %}#}
    <script src="{% static 'palanaeum/js/third_party/noty/packaged/jquery.noty.packaged.min.js' %}?v={{ VERSION_TAG }}"></script>
    <script src="{% static 'palanaeum/js/third_party/js.cookie.js' %}?v={{ VERSION_TAG }}" type="text/javascript"></script>
    <script src="{% static 'palanaeum/js/third_party/modernizr.js' %}?v={{ VERSION_TAG }}" type="text/javascript" ></script>
    <script src="{% static 'palanaeum/js/modernize_forms.js' %}?v={{ VERSION_TAG }}" type="text/javascript"></script>
    <script src="{% static 'palanaeum/js/mini_audio_player.js' %}?v={{ VERSION_TAG }}" type="text/javascript"></script>
    <script src="{% static 'palanaeum/js/unsaved_changes.js' %}?v={{ VERSION_TAG }}" type="text/javascript"></script>
    <script src="{% static 'palanaeum/js/ajax_csrf.js' %}?v={{ VERSION_TAG }}" type="text/javascript"></script>
    <script src="{% static 'palanaeum/js/copy_and_share.js' %}?v={{ VERSION_TAG }}" type="text/javascript"></script>
    <script src="{% static 'palanaeum/js/entry_collections.js' %}?v={{ VERSION_TAG }}" type="text/javascript"></script>

    <script type="text/javascript">
        // Noty setup
        $.noty.defaults.layout = 'bottomRight';
        $.noty.defaults.timeout = 5000;
        $.noty.defaults.type = 'information';
        $.noty.defaults.theme = 'relax';

        // Mark STAFF users
        const STAFF_USER = {{ STAFF|yesno:'true,false' }};
    </script>
    {% include 'palanaeum/elements/palanaeum_js_settings.html' %}

    {% block extra-js %}
    {% endblock %}
{#    {% endcompress %}#}

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{#    {% compress css %}#}
    <link rel="stylesheet" href="{% static 'palanaeum/css/theme.css' %}?v={{ VERSION_TAG }}" type="text/css">
    <link rel="stylesheet" href="{% static 'palanaeum/css/palanaeum.css' %}?v={{ VERSION_TAG }}" type="text/css">
    {% render_bundle 'header' 'css' %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
    {% block extra-css %}
    {% endblock %}
{#    {% endcompress %}#}
    {% block extra-css-no-compress %}
    {% endblock %}
</head>

<body class="w3-content">
    <div id="maincontent">
        {% vuespaceless %}
        <div id="header-app" data-server-rendered="true">
            <header class="header">
                <div class="header__logo"><a href="/" class="header__logo-link"><img
                        alt="logo"
                        src="{{ PALANAEUM_LOGO_URL }}"
                ></a></div>
                <div class="header__navigation">{% if not user.is_authenticated %}
                    <nav class="header__login link-bar">
                        <ul class="link-bar__links">
                            <li><a href="/auth/login?next=/" class="link-bar__link">
                                <span aria-hidden="true" class="fa fa-sign-in"><!----></span>
                                Sign in <!----></a></li>
                            <li><a href="/auth/register/" class="link-bar__link">
                                <span aria-hidden="true" class="fa fa-user-plus"><!----></span>
                                Sign up <!----></a></li>
                        </ul>
                    </nav>{% else %}<!---->{% endif %}
                    <form action="/adv_search/" method="get" class="search-bar header__searchbar"><input
                            type="search"
                            title="search"
                            placeholder="Search..."
                            name="query"
                            class="search-bar__input"
                    >
                        <button class="button button--dark" type="submit">
                            <span aria-hidden="true" class="fa fa-search"></span>
                        </button>
                    </form>
                    <div class="header__navbar">
                        <nav class="link-bar">
                            <ul class="link-bar__links">
                                <li><a href="/events/" class="link-bar__link"><!----> Events <!----></a></li>
                                <li>
                                    <div class="dropdown-link link-bar__link"><a href="#" class="dropdown-link__header"><!----> Discover
                                        <!----></a><!----></div>
                                </li>
                                <li>
                                    <div class="dropdown-link link-bar__link"><a href="#" class="dropdown-link__header"><!----> Contribute
                                        <!----></a><!----></div>
                                </li>
                                <li>
                                    <div class="dropdown-link link-bar__link"><a href="#" class="dropdown-link__header"><!----> Links
                                        <!----></a><!----></div>
                                </li>
                                <li>
                                    <div class="dropdown-link link-bar__link"><a href="#" class="dropdown-link__header"><!----> Help
                                        <!----></a><!----></div>
                                </li>
                            </ul>
                        </nav>{% if user.is_authenticated %}
                        <nav class="header__user link-bar">
                            <ul class="link-bar__links">
                                <li>
                                    <div class="dropdown-link link-bar__link"><a title="User" href="#" class="dropdown-link__header">
                                        <span aria-hidden="true" class="fa fa-user">
                                            {% include 'palanaeum/elements/notification_badge.html' with icon=True %}
                                        </span>  <!----></a><!----></div>
                                </li>
                            </ul>
                        </nav>{% else %}<!---->{% endif %}
                    </div>
                </div><!----></header>
            <header class="mobile-header"><a aria-hidden="true" class="fa fa-navicon">{% include 'palanaeum/elements/notification_badge.html' with icon=True %}
            </a><a href="/" class="mobile-header__logo"> {{ PAGE_TITLE }} </a><a aria-hidden="true" class="fa fa-search"></a><!----><!---->
            </header>
        </div>
        {% endvuespaceless %}

    <div id="mobile-spacer" class="w3-hide-large"></div>
    <main class="w3-row w3-margin-top w3-panel">
        {% block main-content %}
        {% endblock %}
        {% include 'palanaeum/collections/collections_dialog.html' %}
    </main>
    </div>
    <footer class="w3-container w3-center w3-text-grey">
        Powered by Palanaeum ({{ PALANAEUM_VERSION }})
    </footer>

    {% render_bundle 'header' 'js' %}
</body>
</html>
