{% load static %}
{% load i18n %}
{#{% load compress %}#}
{% load raven %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>{% block page-title %}{{ PAGE_TITLE }}{% endblock %}</title>
    <link rel="apple-touch-icon" href="{{ FAVICON120 }}?v={{ VERSION_TAG }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ FAVICON180 }}?v={{ VERSION_TAG }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ FAVICON152 }}?v={{ VERSION_TAG }}">
    <link rel="apple-touch-icon" sizes="167x167" href="{{ FAVICON167 }}?v={{ VERSION_TAG }}">
    <link rel="icon" type="image/png" href="{{ FAVICON96 }}?v={{ VERSION_TAG }}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ FAVICON16 }}?v={{ VERSION_TAG }}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ FAVICON32 }}?v={{ VERSION_TAG }}" sizes="32x32">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:image" content="{{ BASE_URL }}{{ FAVICON200 }}?v={{ VERSION_TAG }}">
    <meta property="og:image:width" content="200">
    <meta property="og:image:height" content="200">
    {% block extra-meta %}
    {% endblock %}

    <script src="https://use.fontawesome.com/c06c219215.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
{#    <script src="https://cdn.ravenjs.com/3.20.0/raven.min.js" crossorigin="anonymous"></script>#}
{#    <script src="https://cdn.tiny.cloud/1/{{ TINYMCE_API_KEY }}/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>#}
    <script src="{% static 'palanaeum/third_party/tinymce/tinymce.min.js' %}" referrerpolicy="origin"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard-polyfill/2.4.1/clipboard-polyfill.js"></script>
{#    <script type="text/javascript">Raven.config('{% sentry_public_dsn 'https' %}').install()</script>#}

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">

    {% if GOOGLE_ID %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ID }}"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', '{{ GOOGLE_ID }}');
        </script>
    {% endif %}

    <script src="{% url 'jsi18n' %}"></script>

    {% block extra-js-no-compress %}
    {% endblock %}
{#    {% compress js %}#}
    <script src="{% static 'palanaeum/js/third_party/noty/packaged/jquery.noty.packaged.min.js' %}?v={{ VERSION_TAG }}"></script>
    <script src="{% static 'palanaeum/js/third_party/js.cookie.js' %}?v={{ VERSION_TAG }}" type="text/javascript"></script>
    <script src="{% static 'palanaeum/js/third_party/modernizr.js' %}?v={{ VERSION_TAG }}" type="text/javascript" ></script>
    <script src="{% static 'palanaeum/js/modernize_forms.js' %}?v={{ VERSION_TAG }}" type="text/javascript"></script>
    <script src="{% static 'palanaeum/js/mini_audio_player.js' %}?v={{ VERSION_TAG }}" type="text/javascript"></script>
    <script src="{% static 'palanaeum/js/unsaved_changes.js' %}?v={{ VERSION_TAG }}" type="text/javascript"></script>
    <script src="{% static 'palanaeum/js/ajax_csrf.js' %}?v={{ VERSION_TAG }}" type="text/javascript"></script>
    <script src="{% static 'palanaeum/js/copy_and_share.js' %}?v={{ VERSION_TAG }}" type="text/javascript"></script>
    <script src="{% static 'palanaeum/js/entry_collections.js' %}?v={{ VERSION_TAG }}" type="text/javascript"></script>
    <script src="{% static 'palanaeum/js/dropdown.js' %}?v={{ VERSION_TAG }}" type="text/javascript"></script>

    <script type="text/javascript">
        // Noty setup
        $.noty.defaults.layout = 'bottomRight';
        $.noty.defaults.timeout = 5000;
        $.noty.defaults.type = 'information';
        $.noty.defaults.theme = 'relax';

        // Mark STAFF users
        const STAFF_USER = {{ STAFF|yesno:'true,false' }};
    </script>
    {% include 'palanaeum/elements/palanaeum_js_settings.html' %}
    <script src="{% static 'palanaeum/js/page_nav.js' %}?v={{ VERSION_TAG }}" type="text/javascript"></script>

    {% block extra-js %}
    {% endblock %}
{#    {% endcompress %}#}

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{#    {% compress css %}#}
    {% if PALANAEUM_STYLE == 'blue' %}
        <link rel="stylesheet" href="{% static 'palanaeum/css/blue/theme.css' %}?v={{ VERSION_TAG }}" type="text/css">
        <link rel="stylesheet" href="{% static 'palanaeum/css/blue/palanaeum.css' %}?v={{ VERSION_TAG }}" type="text/css">
        <meta name="theme-color" content="#003A52">
    {% elif PALANAEUM_STYLE == 'pink' %}
        <link rel="stylesheet" href="{% static 'palanaeum/css/pink/theme.css' %}?v={{ VERSION_TAG }}" type="text/css">
        <link rel="stylesheet" href="{% static 'palanaeum/css/pink/palanaeum.css' %}?v={{ VERSION_TAG }}" type="text/css">
        <meta name="theme-color" content="#ff5cc3">
    {% else %}
        <link rel="stylesheet" href="{% static 'palanaeum/css/green/theme.css' %}?v={{ VERSION_TAG }}" type="text/css">
        <link rel="stylesheet" href="{% static 'palanaeum/css/green/palanaeum.css' %}?v={{ VERSION_TAG }}" type="text/css">
        <meta name="theme-color" content="#00473F">
    {% endif %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
    {% block extra-css %}
    {% endblock %}
{#    {% endcompress %}#}
    {% block extra-css-no-compress %}
    {% endblock %}
</head>

<body class="w3-content">
    <nav class="w3-sidebar w3-card-2 w3-animate-left" id="sidenav" style="display: none; position: absolute; top: 0; left: 0; z-index: 2;">
        <a href="javascript:void(0);" class="w3-bar-item w3-closenav w3-left-align w3-hover-theme close-sidenav w3-button w3-ripple">&times;</a>
        {% block sidenav-content %}
            {# Mobile menu #}
            <a class="w3-mobile w3-bar-item w3-hover-theme w3-button w3-ripple w3-block w3-left-align w3-block" href="{% url 'index' %}">
                <span class="fa fa-home" aria-hidden="true"></span>
                {% trans 'Home' %}
            </a>
            
            {% for item in NAVBAR_ITEMS %}
                {% include 'palanaeum/elements/navbar_item_mobile.html' %}
            {% endfor %}

            {% if user.is_authenticated %}
                <div class="w3-mobile w3-dropdown-click w3-block">
                    <button class="w3-mobile w3-bar-item w3-hover-theme w3-button w3-ripple w3-block w3-left-align">
                        <span class="fa fa-user" aria-hidden="true"></span>
                        {% trans 'User' %}
                        {% if SUGGESTIONS_COUNT %}<span class="suggestion-count w3-badge w3-red w3-medium">{{ SUGGESTIONS_COUNT }}</span>{% endif %}
                    </button>
                    <div class="w3-dropdown-content w3-bar-block w3-border">
                        <a class="w3-mobile w3-bar-item w3-hover-theme w3-button w3-ripple w3-block w3-left-align w3-block" href="{% url 'collections_list' %}">
                            {% trans 'Collections' %}
                        </a>
                        <a class="w3-mobile w3-bar-item w3-hover-theme w3-button w3-ripple w3-block w3-left-align w3-block" href="{% url 'auth_settings' %}">
                            {% trans 'Settings' %}
                        </a>
                        {% if user.is_superuser %}
                            <a class="w3-mobile w3-bar-item w3-hover-theme w3-button w3-ripple w3-block w3-left-align w3-block" href="{% url 'admin_index' %}">
                                {% trans 'Admin CP' %}
                            </a>
                        {% endif %}
                        {% if user.is_staff %}
                            <a class="w3-mobile w3-bar-item w3-hover-theme w3-button w3-ripple w3-block w3-left-align w3-block" href="{% url 'staff_index' %}">
                                {% trans 'Staff CP' %}
                                {% if SUGGESTIONS_COUNT %}<span class="suggestion-count w3-badge w3-red w3-medium">{{ SUGGESTIONS_COUNT }}</span>{% endif %}
                            </a>
                        {% endif %}
                        <a class="w3-mobile w3-bar-item w3-hover-theme w3-button w3-ripple w3-block w3-left-align w3-block" href="{% url 'auth_logout' %}">
                            {% trans 'Sign out' %}
                        </a>
                    </div>
                </div>
            {% else %}
                <a class="w3-mobile w3-bar-item w3-hover-theme w3-button w3-ripple w3-block w3-left-align w3-block" href="{% url 'auth_login' %}">
                    <span class="fa fa-sign-in" aria-hidden="true"></span>
                    {% trans 'Sign in' %}
                </a>
                <a class="w3-mobile w3-bar-item w3-hover-theme w3-button w3-ripple w3-block w3-left-align w3-block" href="{% url 'auth_register' %}">
                    <span class="fa fa-user-plus" aria-hidden="true"></span>
                    {% trans 'Sign up' %}
                </a>
            {% endif %}
        {% endblock %}
    </nav>
    <header class="w3-container w3-hide-large w3-top w3-center" id="mobile-header">
        {% block mobile-header %}
            <a class="w3-opennav open-sidenav fa fa-navicon" style="float: left; margin-top: 0.25em; position: relative;">{% include 'palanaeum/elements/notification_badge.html' %}</a>
            <a class="w3-opennav switch-mobi-search fa fa-search" style="float: right; margin-top: 0.25em;"></a>
            <span class="page-title mobilelogo">
                <a href="{% url 'index' %}">{{ PAGE_TITLE }}</a>
            </span>
            <form action="{% url 'advanced_search' %}" method="get" id="mobile-search" style="display: none;">
                <table>
                    <tr>
                        <td>
                            <input title="{% trans 'search' %}" type="search" placeholder="Search..."  name="{{ GENERAL_SEARCH_PARAM_NAME }}"
                                   value="{% block search_query_mobile %}{% endblock %}">
                        </td>
                        <td>
                            <button class="w3-btn w3-round w3-theme-dark s2" type="submit">
                                <span class="fa fa-search"></span>
                            </button>
                        </td>
                    </tr>
                </table>
            </form>
        {% endblock %}
    </header>
    <div id="maincontent">
    <header class="w3-hide-small w3-hide-medium" id="desktop-header">
        {% block desktop-header %}
        <div class="mainlogo">
            <a href="{% url 'index' %}" class="w3-left logo"><img src="{{ PALANAEUM_LOGO_URL }}?v={{ VERSION_TAG }}" alt="logo" id="svg-logo"></a>
        </div>
        <div class="afterlogo">
                <div class="login w3-theme-dark {% if user.is_authenticated %} hidden {% endif %}">
                    <nav class="w3-bar">
                        <a class="w3-hover-theme w3-bar-item" href="{% url 'auth_login' %}?next={{ request.path }}"><span class="fa fa-sign-in"></span> {% trans 'Sign in' %}</a>
                        <a class="w3-hover-theme w3-bar-item" href="{% url 'auth_register' %}"><span class="fa fa-user-plus"></span> {% trans 'Sign up' %}</a>
                    </nav>
                </div>
                <div class="w3-hide-small w3-hide-medium" id="search-box">
                    <form class="" action="{% url 'advanced_search' %}" method="get">
                        <table style="width: 485px;">
                            <tr>
                                <td style="padding-right:16px;">
                                    <input type="search" style="width: 100%" title="{% trans 'search' %}" placeholder="Search..."  name="{{ GENERAL_SEARCH_PARAM_NAME }}" value="{% block search_query %}{% endblock %}">
                                </td>
                                <td style="width: 1px">
                                    <button class="w3-btn w3-round w3-theme-dark" type="submit"><span class="fa fa-search"></span></button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
                <nav class="w3-bar navigation-bar">
                    <div class="navButtonHolder w3-right">
                        <div><!-- Intentionally blank, to work around a weird style bug if dropdown is first child --></div>
                        {# Full menu on Desktop #}
                        {% for item in NAVBAR_ITEMS %}
                            {% include 'palanaeum/elements/navbar_item_desktop.html' %}
                        {% endfor %}
                        {% if user.is_authenticated %}
                            <div class="w3-dropdown-hover w3-hover-theme ">
                                <button class="w3-button w3-hover-theme" id="dropdown-trigger"><span class="fa fa-user">{% include 'palanaeum/elements/notification_badge.html' %}</span></button>
                                <div id="userMenu" class="w3-dropdown-content w3-bar-block w3-border">
                                    <a class="w3-hover-theme w3-bar-item " href="{% url 'collections_list' %}"><span class="fa fa-list"></span> {% trans 'Collections' %}</a>
                                    <a class="w3-hover-theme w3-bar-item " href="{% url 'auth_settings' %}"><span class="fa fa-cog"></span> {% trans 'Settings' %}</a>
                                    {% if user.is_superuser %}
                                        <a class="w3-hover-theme w3-bar-item " href="{% url 'admin_index' %}"><span class="fa fa-server"></span> {% trans 'Admin CP' %}</a>
                                    {% endif %}
                                    {% if user.is_staff %}
                                        <a class="w3-hover-theme w3-bar-item " href="{% if SUGGESTIONS_COUNT %}{% url 'staff_suggestions' %}{% else %}{% url 'staff_index' %}{% endif %}"><span class="fa fa-university"></span> {% trans 'Staff CP' %} {% if SUGGESTIONS_COUNT %}<span class="w3-badge w3-red">{{ SUGGESTIONS_COUNT }}</span>{% endif %}</a>
                                    {% endif %}
                                    <a class="w3-hover-theme w3-bar-item " href="{% url 'auth_logout' %}"><span class="fa fa-power-off"></span> {% trans 'Sign out' %}</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </nav>
        </div>
        {% endblock %}
    </header>
    <header class="w3-hide-small w3-hide-medium" id="desktop-header-small">
        <nav class="w3-bar navigation-bar">
            <div id="search-box-small">
                <form class="" action="{% url 'advanced_search' %}" method="get">
                    <table style="width: 301px">
                        <tr>
                            <td style="padding-right: 16px">
                                <input type="search" style="width: 100%" title="{% trans 'search' %}" placeholder="Search..."  name="{{ GENERAL_SEARCH_PARAM_NAME }}" value="{% block search_query_small %}{% endblock %}">
                            </td>
                            <td style="width: 1px">
                                <button class="w3-btn w3-round w3-theme-dark" type="submit"><span class="fa fa-search"></span></button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            {# Small menu on Desktop #}
            <a href="{% url 'index' %}" class="w3-left w3-hover-theme w3-bar-item logobold">{{ PAGE_TITLE }}</a>
            {% for item in NAVBAR_ITEMS %}
                {% include 'palanaeum/elements/navbar_item_desktop.html' %}
            {% endfor %}
            <!--<a class="w3-hover-theme w3-bar-item w3-left logo" href="">{% trans 'Help' %}</a>-->
            {% if user.is_authenticated %}
                <div class="w3-dropdown-hover w3-hover-theme w3-right">
                    <button class="w3-button w3-hover-theme" id="dropdown2-trigger"><span class="fa fa-user">{% include 'palanaeum/elements/notification_badge.html' %}</span></button>
                    <div id="menuSmall" class="w3-dropdown-content w3-bar-block w3-border">
                        <a class="w3-hover-theme w3-bar-item " href="{% url 'collections_list' %}"><span class="fa fa-list"></span> {% trans 'Collections' %}</a>
                        <a class="w3-hover-theme w3-bar-item " href="{% url 'auth_settings' %}"><span class="fa fa-cog"></span> {% trans 'Settings' %}</a>
                        {% if user.is_superuser %}
                            <a class="w3-hover-theme w3-bar-item " href="{% url 'admin_index' %}"><span class="fa fa-server"></span> {% trans 'Admin CP' %}</a>
                        {% endif %}
                        {% if user.is_staff %}
                            <a class="w3-hover-theme w3-bar-item " href="{% if SUGGESTIONS_COUNT %}{% url 'staff_suggestions' %}{% else %}{% url 'staff_index' %}{% endif %}"><span class="fa fa-university"></span> {% trans 'Staff CP' %} {% if SUGGESTIONS_COUNT %}<span class="w3-badge w3-red">{{ SUGGESTIONS_COUNT }}</span>{% endif %}</a>
                        {% endif %}
                        <a class="w3-hover-theme w3-bar-item " href="{% url 'auth_logout' %}"><span class="fa fa-power-off"></span> {% trans 'Sign Out' %}</a>
                    </div>
                </div>
                <!--<a class="w3-hover-theme w3-bar-item w3-right" href="{% url 'auth_logout' %}"><span class="fa fa-power-off"></span></a>
                <a class="w3-hover-theme w3-bar-item w3-right" href="{% url 'auth_settings' %}"><span class="fa fa-cog"></span> Settings</a>-->
            {% else %}
                <a class="w3-hover-theme w3-bar-item w3-right" href="{% url 'auth_login' %}?next={{ request.path }}" title="Sign In"><span class="fa fa-sign-in"></span></a>
                <a class="w3-hover-theme w3-bar-item w3-right" href="{% url 'auth_register' %}" title="Sign Up"><span class="fa fa-user-plus"></span></a>
            {% endif %}
        </nav>
    </header>

    <div id="mobile-spacer" class="w3-hide-large"></div>
    <main class="w3-row w3-margin-top w3-panel">
        {% block main-content %}
        {% endblock %}
        {% include 'palanaeum/collections/collections_dialog.html' %}
    </main>
    </div>
    <footer class="w3-container w3-center w3-text-grey">
        Powered by Palanaeum ({{ PALANAEUM_VERSION }})
    </footer>
</body>
</html>
