{% extends 'palanaeum/one_column_layout.html' %}
{% load i18n %}

{% block page-header %}
    {% trans 'Delete entry' %}
{% endblock %}

{% block page-title %}
    {% trans 'Delete entry' %}
{% endblock %}

{% block one-column-content %}
    <div class="w3-center w3-padding-bottom">
        {% include 'palanaeum/elements/messages.html' %}
        <p>{% trans 'Are you sure you want to delete this entry from the system?' %}</p>
        <ul class="w3-ul">
            {% include 'palanaeum/elements/entry_li.html' with hide_options=True%}
        </ul>
        <form action="{% url 'remove_entry' entry.id %}" method="post">
            {% csrf_token %}
            <input type="submit" class="w3-red w3-btn" value="{% trans 'Yes' %}">
            <a href="{% url 'view_event_no_title' entry.event_id %}" class="button1 w3-btn">{% trans 'No' %}</a>
        </form>
    </div>
{% endblock %}