{% extends 'palanaeum/one_column_layout.html' %}
{% load i18n %}
{% load static %}

{% block extra-js %}
    <script type="text/javascript" src="{% static 'palanaeum/js/show_hide.js' %}?v={{ VERSION_TAG }}"></script>
    <script type="text/javascript" src="{% static 'palanaeum/js/tabs.js' %}?v={{ VERSION_TAG }}"></script>
{% endblock %}

{% block page-title %}{{ event.name }} - {{ block.super }}{% endblock %}

{% block extra-meta %}
    <meta property="og:title" content="{{ event.name }}">
    <meta property="og:url" content="{{ BASE_URL }}{{ event.get_absolute_url }}">
    <meta property="og:description" content="{{ event.date }}, {{ event.location }}">
{% endblock %}

{% block pre-page-header %}
    {% if event.editable %}
        {#        <a class="w3-btn w3-red w3-right" href="{% url 'remove_event' event.id %}">#}
        {#            <span class="fa fa-trash"></span><span class="w3-hide-small"> {% trans 'Remove' %}</span>#}
        {#        </a>#}
        <a class="w3-btn button2 w3-right w3-margin-right" href="{% url 'edit_event' event.id %}">
            <span class="fa fa-pencil"></span><span class="w3-hide-small"> {% trans 'Edit' %}</span>
        </a>
    {% endif %}
{% endblock %}

{% block page-header %}{{ event.name }}{% endblock %}

{% block one-column-content %}
    {% include 'palanaeum/elements/messages.html' %}
    <div class="w3-row" style="display: flex; flex-direction: row; flex-wrap: wrap;">
        <div class="w3-hide-medium w3-hide-large" style="flex-basis: 100%">
            {% block event-details-small %}
                {% include 'palanaeum/elements/event_details.html' %}
            {% endblock %}
        </div>
        <article class="padTop" id="eventArticle" data-event-id="{{ event.id }}" style="flex: 9; flex-basis: 75%">
            {% block event-nav %}
                <nav class="w3-theme-l1 w3-bar w3-card" id="tab-nav">
                    <a href="javascript:void(0)" class="w3-hover-theme w3-theme-action w3-button w3-bar-item" data-tab-name="entries">{% trans 'Entries' %}</a>
                    <a href="javascript:void(0)" class="w3-hover-theme w3-button w3-bar-item" data-tab-name="sources">{% trans 'Sources' %}</a>
                </nav>
            {% endblock %}
            <section id="entries" class="tab w3-animate-opacity">
                {% if entries %}
                    {% for entry in entries %}
                        {% include 'palanaeum/elements/entry_li.html' with number=forloop.counter %}
                    {% endfor %}
                {% else %}
                    <p>{% trans 'There are no entries added to this event yet.' %}</p>
                {% endif %}

            </section>
            <section id="sources" class="tab w3-animate-opacity w3-card" style="display: none;">
                {% if sources %}
                    {% for source in sources %}
                        {% include 'palanaeum/elements/source_li.html' %}
                    {% endfor %}
                {% else %}
                    <p>{% trans 'There are no sources added to this event yet.' %}</p>
                {% endif %}
            </section>
        </article>
        <div class="w3-hide-small" style="flex: 2; flex-basis: 25%; position: -webkit-sticky; position: sticky; top: 50px; align-self: flex-start">
            {% block event-details-big %}
                {% include 'palanaeum/elements/event_details.html' %}
            {% endblock %}
        </div>
    </div>
    <div style="text-align: center" class="w3-small"><a href="#"><span class="fa fa-chevron-up"></span></a></div>
{% endblock %}