{% extends 'palanaeum/one_column_layout.html' %}
{% load i18n %}

{% block page-title %}{% trans 'Events list' %} - {{ block.super }}{% endblock %}

{% block pre-page-header %}
    {% if user.is_staff %}
        <a class="w3-btn button2 w3-right" href="{% url 'create_event' %}"><span class="fa fa-plus"></span> {% trans 'Add event' %}</a>
    {% endif %}
{% endblock %}

{% block page-header %}
    {% trans 'Events list' %}
{% endblock %}

{% block one-column-content %}
    {% include 'palanaeum/elements/messages.html' %}
    <ul class="w3-ul w3-border">
        {% for event in page %}
            {% include 'palanaeum/elements/event_li.html' %}
        {% endfor %}
    </ul>
{% endblock %}

{% block one-column-footer %}
    {% url 'events_list' as list_url %}
    {% include 'palanaeum/pagination_nav.html' with url=list_url %}
{% endblock %}