{% extends 'palanaeum/base_layout.html' %}

{% block main-content %}
    <div class="w3-col l12">
        <section class="w3-container">
            <div class="w3-card">
                <header class="w3-container content-header w3-display-container">
                    {% block pre-page-header %}{% endblock %}
                    <h1>{% block page-header %}{% endblock %}</h1>
                </header>
                <div class="">
                {% block one-column-content %}{% endblock %}
                </div>
                <footer class="w3-container content-header w3-display-container">
                    {% block one-column-footer %}
                    {% endblock %}
                </footer>
            </div>
        </section>
    </div>
{% endblock %}