<nav class="w3-bar">
    {% if page.has_previous %}
        <a class="w3-bar-item" href="{{ url }}?page={{ page.previous_page_number }}&{{ page_params }}"><span class="fa fa-chevron-left"></span></a>
    {% endif %}
    {% for page_num in page_numbers_to_show %}
        {% if page_num == page.number %}
            <a href="#" class="button1-accent w3-bar-item">{{ page_num }}</a>
        {% elif page_num == 0 %}
            <div onclick="show_hidden_pages(this)" class="button1 w3-bar-item">&hellip;</div>
        {% elif page_num < 0 %}
            <a href="{{ url }}?page={{ page_num|stringformat:'d'|slice:'1:' }}&{{ page_params }}" class="button1 w3-bar-item hidden-pg-num">{{ page_num|stringformat:'d'|slice:'1:' }}</a>
        {% else %}
            <a href="{{ url }}?page={{ page_num }}&{{ page_params }}" class="button1 w3-bar-item">{{ page_num }}</a>
        {% endif %}
    {% endfor %}
    {% if page.has_next %}
            <a href="{{ url }}?page={{ page.next_page_number }}&{{ page_params }}" class="button1 w3-bar-item"><span class="fa fa-chevron-right"></span></a>
    {% endif %}
</nav>
