{% extends 'palanaeum/one_column_layout.html' %}
{% load i18n %}

{% block page-header %}
    {% trans 'Recevery email sent' %}
{% endblock %}

{% block one-column-content %}
    {% include 'palanaeum/elements/messages.html' %}
    <div class="w3-center">
        <p>{% trans 'Your password recovery email has been sent. You should receive it shortly, is the e-mail you provided was correct.' %}</p>
        <a class="w3-btn button1" href="{% url 'auth_login' %}">{% trans 'Back to Sign In' %}</a>
    </div>
{% endblock %}