{% extends 'palanaeum/admin/admin_index.html' %}
{% load i18n %}
{% load static %}

{% block page-header %}
    {{ block.super }} - {% trans 'Related sites' %}
{% endblock %}

{% block admin-content %}
    {% include 'palanaeum/elements/messages.html' %}
    <h1>{% trans 'Related sites' %}</h1>
    <table class="w3-table-all">
        <thead>
            <tr>
                <th>{% trans 'Image' %}</th>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'URL' %}</th>
                <th>{% trans 'Order' %}</th>
                <th colspan="2" style="text-align: right;">
                    <a href="{% url 'admin_related_site_new' %}" class="w3-btn w3-green w3-tiny">
                        <span class="fa fa-plus"></span>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for site in related_sites %}
                <tr>
                    <td class=".related-site"><img src="{{ site.image.url }}" class="tiny-photo" alt="{{ site.name }}"/></td>
                    <td>{{ site.name }}</td>
                    <td>{{ site.url }}</td>
                    <td>{{ site.order }}</td>
                    <td><a href="{% url 'admin_related_site_edit' site.pk %}"><span class="fa fa-pencil"></span></a></td>
                    <td><a href="{% url 'admin_related_site_delete' site.pk %}" class="delete"><span class="fa fa-trash-o"></span></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}