{% extends 'palanaeum/one_column_layout.html' %}
{% load i18n %}

{% block page-title %}{% trans 'Assign entry to snippet' %}{% endblock %}

{% block page-header %}{% trans 'Assign entry to snippet' %}{% endblock %}

{% block one-column-content %}
    <div class="w3-container">
        <a class="navlink" href="{% url 'edit_audio_source' snippet.source_id %}"><span class="fa fa-arrow-left"></span> {% trans 'Back to source' %}</a>
        <p>
            {% blocktrans %}
                On this page you can assign a transcribed entry to the snippet. This will allow to display a button
                to play given snippet next to the entry on the event page. One entry can be related to more than one
                snippets, in case if there were two or more recordings taken.
            {% endblocktrans %}
        </p>
        <div class="w3-center w3-margin">
            <form action="" method="post" style="display: inline-block">
                {% csrf_token %}
                <label>
                    {% trans 'Select entry' %}:
                    <select name="entry_id">
                        {% for entry in event_entries %}
                            {% if snippet.entry == entry %}
                                <option value="{{ entry.id }}" selected="selected">
                                    {{ entry|truncatechars_html:80 }}
                                </option>
                            {% else %}
                                <option value="{{ entry.id }}">
                                    {{ entry|truncatechars_html:80 }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </label>
                <input type="submit" value="{% trans 'select' %}" class="w3-btn button1">
            </form>
    {#        <table>#}
    {#            <tr>#}
    {#                <td><hr/></td>#}
    {#                <td>{% trans 'OR' %}</td>#}
    {#                <td><hr/></td>#}
    {#            </tr>#}
    {#        </table>#}
            or
            <a href="{% url 'create_entry_for_snippet' snippet.id %}" class="w3-btn button1">{% trans 'create new entry' %}</a>
        </div>
    </div>
{% endblock %}