@import '_commonUtils.scss';

$playerHeight: 20px;

.maxWidth {width: 100%;}

#source-title{
    width: 30%;
}

#player {
    @extend .maxWidth;
    position: relative;
    display: block;
    text-align: center;

    #progress {
        @extend .maxWidth;
        position: relative;
        height: $playerHeight;
        box-shadow: 0 0 5px black;
        border-radius: 3px;
        margin: 20px 0;
        cursor: text;

        #past {
            height: 100%;
            position: absolute;
            background: green;
            left: 0;
            margin: 0;
            border-radius: 3px 0 0 3px;
        }

        #time-indicator {
            z-index: 10;
            position: relative;
            background-color: $body-background;
            user-select: none;
        }

        .snippet {
            position: absolute;
            top: 0;
            height: 100%;
            width: 0;
            border-left: 1px solid blue;
            background-color: blue !important;
            opacity: 0.6;

            &#snippet-template {
                display: none;
            }

            &.mine {
                border-color: lightseagreen;
                background-color: lightseagreen !important;
            }
            &.muted {
                background-color: indianred !important;
                border-color: indianred !important;
            }
        }
    }

    #controls {
        @extend .maxWidth;

        span, button {
            font-size: 1.5em;
            display: inline-block;
            padding: 1em;
            border-width: 0;
            border-radius: 50%;
            width: 3em;
            margin: 0 5px;
            cursor: pointer;
        }
    }

    #add-snippet, #extend-snippet {
        width: 15%;
        padding: 1em;
        border-radius: 10px;
        border-width: 0;
        margin: 5px 0;
    }
}